USE [master]
GO
/****** Object:  Database [GestionTareas]    Script Date: 3/11/2023 22:31:10 ******/
CREATE DATABASE [GestionTareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionTareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionTareas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionTareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionTareas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionTareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionTareas]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 3/11/2023 22:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[descripcion_tarea] [varchar](max) NOT NULL,
	[fecha_tarea] [datetime] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([id], [fecha_registro], [descripcion_tarea], [fecha_tarea]) VALUES (1, CAST(N'2023-11-03T22:21:36.510' AS DateTime), N'Anatomia', CAST(N'2023-11-11T22:28:35.000' AS DateTime))
INSERT [dbo].[Tarea] ([id], [fecha_registro], [descripcion_tarea], [fecha_tarea]) VALUES (3, CAST(N'2023-11-03T22:27:51.423' AS DateTime), N'Historia', CAST(N'2023-11-17T22:27:42.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
USE [master]
GO
